<h1> Amazon S3 test </h1>
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <form action="/upload" method="post"
        enctype="multipart/form-data">
        <input type="file" name="file" id="file"><br>
        <input type="submit" name="submit" value="Submit"><br>
    </form>
    <br>
    <form action="/download" method="post" >
    <button type="submit">Download!</button>
    </form>
    <br>
    <form action="/getUrl" method="post" >
    <button type="submit">GETURL</button>
    <audio controls>
  <source src="0/images/test.mp3" type="audio/mpeg"/>
</audio>
  </body>
</html>