<!DOCTYPE html>

<html lang="en">
<head>
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
  <title>untitled</title>
</head>
<body>

<audio controls>
  <source src="test.mp3" type="audio/mpeg"/>
  <source src="test.ogg" type="audio/ogg"/>
</audio>
</body>
</html>  